examples/Sensor last days.json
[
    {
        "id": "28ab525078060a12",
        "type": "tab",
        "label": "Sensor last days",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb933b169b542943",
        "type": "sensor",
        "z": "28ab525078060a12",
        "api_credentials": "2655807ebedeb4b7",
        "reporter": "1234",
        "_sensors": "Temperature",
        "sensors": [
            {
                "name": "Temperature"
            }
        ],
        "outputs": 2,
        "action": "lastDays",
        "sinceId": "payload",
        "sinceIdType": "msg",
        "lastDays": "5",
        "lastDaysType": "num",
        "sinceIsoDate": 0,
        "sinceIsoDateType": "msg",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "5f4dcd0fa22a3610"
            ],
            [
                "9ff0eb3b3b8fba82"
            ]
        ]
    },
    {
        "id": "c1de06da4542cb9a",
        "type": "inject",
        "z": "28ab525078060a12",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "bb933b169b542943"
            ]
        ]
    },
    {
        "id": "5f4dcd0fa22a3610",
        "type": "debug",
        "z": "28ab525078060a12",
        "name": "result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "9ff0eb3b3b8fba82",
        "type": "debug",
        "z": "28ab525078060a12",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "ec404c6adde61dd7",
        "type": "comment",
        "z": "28ab525078060a12",
        "name": "",
        "info": "Read the temperature sensor values for the last 5 days",
        "x": 180,
        "y": 60,
        "wires": []
    },
    {
        "id": "2655807ebedeb4b7",
        "type": "api-credentials",
        "name": "Demo"
    },
    {
        "id": "1234",
        "type": "reporter",
        "name": "Demo",
        "sensors": [
            {
                "name": "Temperature"
            },
            {
                "name": "Humidity"
            }
        ],
        "relaisOutputs": [
            {
                "id": "9876",
                "name": "Valve 1"
            },
            {
                "id": "5432",
                "name": "Valve 2"
            }
        ]
    }
]